<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="tb">

    </table>
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            initData();
        })
        function initData() {
            $.ajax({
                url: '/get_data',
                type: 'GET',
                dataType: 'JSON',
                success:function (arg) {
                    if(arg.status){
{#                        1、queryset#}
{#                        console.log(arg.data);#}
{#                        var v = JSON.parse(arg.data);#}
{#                        console.log(v);#}
{#                        2、value_list#}
                        console.log(arg.data);
                    }

                }
            })
        }
    </script>
</body>
</html>